/* CSS file for styles */

body {
    width: 360px;
    height: auto;
    background-color: black;
    font-family: 'Roboto Condensed', sans-serif;
}

/* The navigation bar */
.navbar {
    overflow: hidden;
    background-color: #fff;
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}

/* Links inside the navbar */
.navbar a {
    float: left;
    display: inline-block;
    color: #332929;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.centerDiv {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.desc {
    color: white;
}

div.app {
    display: flex;
    /* margin-top: 190px; */
    flex-direction: column;
    justify-content: center;
}

.app > div {
    display: flex;
    justify-content: center;
    border: 1px white solid;
    width: 95%;
    margin: 2%;
}

div.events {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #a001019e;
    color: white;
    height: 320px;
    width: 100%;
    overflow: scroll;
}

.tableDiv {
    display: flex;
    justify-content: center;
}

table {
    text-align: center;
}

table, th, td {
    border: 1px solid #bbaeae;
 }

h2 {
    /* font-size: 2rem; */
    text-align: center;
}

tr {
    color: white;
}

a.logo {
    padding: 0px;
    margin-top: 14px;
}

.logo img {
    width: auto;
    height: 25px;
}

/* Main content */
.main {
    
}

.app {
    margin-top:30px;
}

.slideLinks img {
    width: 100%;
    height: auto;
}

.events  a {
    display: block;
    color: white;
}

#map {
    /* height: 100%; */
}

/* html, body {
    height: 100%;
    margin: 0;
    padding: 0;
} */

.labels {
    color: white;
    /* background-color: red; */
    font-family:"Lucida Grande", "Arial", sans-serif;
    font-size: 8px;
    text-align: left;
    width: 35px;
    white-space: nowrap;
}

/* * {box-sizing:border-box} */

/* Slideshow container */
.slide {
  /* max-width: 1000px; */
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 100%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
/* .prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
} */

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* The dots/bullets/indicators */
.dot {
  cursor:pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@media screen and (min-width: 360px) {
    body {
        width: 100%;
        height: auto;
    }

    a.logo {
        padding: 0px;
        margin-top: 14px;
    }

    .logo img {
        width: auto;
        height: 35px;
    }
}

@media screen and (min-width:768px) {
    body {
        width: 100%;
        height: auto;
    }

    a.logo {
        padding: 0px;
        margin-top: 14px;
    }

    div.app {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .logo img {
        width: auto;
        height: 45px;
    }

}
    
@media screen and (min-width: 1200px) {
    body {
        width: 100%;
        height: auto;
        font-size: 1.5rem;
    }

    a.logo {
        padding: 0px;
        margin-top: 14px;
    }

    .logo img {
        width: auto;
        height: 55px;
    }

    div.app {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    div.events {
        height: 650px;
        width: 100%;
        font-size: 1.5rem;
    }  
}